yarn-*
.idea
dist
mock-err*
yarn.lock
out
*.tar.gz
logs
declarations
lib
.vscode/launch.json
.vscode/settings.json
scripts/~$urlMappings.xlsx
node_modules

.history/
.DS_Store
**/.DS_Store
**/**/.history

.umi

mock/settings