@tailwind base;
@tailwind components;
/* Write your utility classes here */
@tailwind utilities;

body {
  background: cornsilk;

  background-image: url("./small-screenshot.png");
  background-repeat: no-repeat;
  background-position: center;
}

.xxx-minimize-css {
  border: 1px solid red;
}

.eeee {
  color: aliceblue;
}